# =========================
#            General
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
#            IDEs
# =========================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (si no quieres versionar la config local, descomenta)
#.vscode/

# =========================
#     Flutter / Dart / Pub
# =========================
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/
build/
**/build/

# iOS build ID cache
**/ios/Flutter/.last_build_id

# =========================
#      Android específico
# =========================
android/.gradle/
.gradle/
**/local.properties

# Variantes de build locales
android/app/debug
android/app/profile
android/app/release

# Keystores y propiedades de firma (SENSIBLES)
*.keystore
*.jks
*.p12
android/key.properties
**/keystore.properties

# =========================
#        iOS / macOS
# =========================
# CocoaPods
ios/Pods/
macos/Pods/

# Artefactos efímeros de Flutter
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# Xcode user data
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcuserdatad/
**/*.xcuserstate

# =========================
#     Web / Linux / Windows
# =========================
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# =========================
#     Simbolicación / mapas
# =========================
app.*.symbols
app.*.map.json

# =========================
#         CI / Fastlane
# =========================
fastlane/.env*
fastlane/Appfile
fastlane/Matchfile
fastlane/README.md

# =========================
#     Variables / Secretos
# =========================
# Entornos
.env
.env.*
.env.local

# Certs y llaves
*.pem
*.der
*.key
*.crt

# Archivos de secretos en código (si existieran)
lib/config/secrets.dart

# Cuentas de servicio (NO en cliente)
*serviceAccount*.json
*firebase-adminsdk*.json

# =========================
#          Firebase
# =========================
# NO subir configs de cliente (política del equipo)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
